extends layout

block content
  div.container
    div.dashboard-wrapper
      h1 Dashboard
      p #{date}
      div.dashboard-content-wrapper
        div.dashboard-section.driver-content
          img(src='/images/motorcycle.png')
          div.driver-stats
            div.drivers-on-shift
              h1 #{numDrivers}
              p Drivers on Shift
            div.idle-drivers
              h1 #{numIdleDrivers}
              p Idle Drivers
            div.busy-drivers
              h1 #{numBusyDrivers}
              p Rides in Progress
        div.dashboard-section.rider-content
          img(src='/images/people.png')
          div.rider-stats
            div.rides-requested
              h1 #{ridesRequested}
              p Rides Requested
            div.rides-completed
              h1 #{ridesCompleted}
              p Rides Completed
            div.rides-failed
              h1 #{ridesFailed}
              p Rides Failed
        div.dashboard-section.rating-content
          img(src='/images/ratings.png')
    div.alerts-wrapper
      h1 Alerts
      ul
        li Alert1
        li Alert2
        li Alert3
